<h3>Optivo Testpage</h3>
<div class="btn-group">
    <button id="welcome" class="btn btn-<%= welcome %> senddemo" data-template="welcome">Welcome</button>
    <button id="optinnl" class="btn btn-<%= optinnl %> senddemo" data-template="nl_optin">Newsletter Opt-In</button>
    <button id="optinreminder" class="btn btn-<%= optinreminder %> senddemo" data-template="reminder_optin">Reminder
                                                                                                            Opt-In
    </button>
    <button id="pwlost" class="btn btn-<%= pwlost %> senddemo" data-template="pwlost">PW-Lost</button>
</div>